<template>
  <div>
    <div class="card">
      <div class="card-body">
        <div class="card-title" v-if="title">{{title}}</div>
        <div id="people">
          <v-client-table :data="tableParams.tableData"
                          :columns="tableParams.columns"
                          :options="tableParams.options"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {tableData} from '../dummy/data'
  export default {
    data() {
      return {
        tableTitle: '',
        externalTableFilter: false,
        tableParams: {
          columns: ['name', 'code', 'uri'],
          tableData: tableData,
          options: {
            perPage: 5,
            perPageValues: [5, 10, 25],
            headings: {
              name: 'Country Name',
              code: 'Country Code',
              uri: 'View Record'
            },
            sortable: ['name', 'code'],
            filterable: ['name', 'code']
          },
        },
      };
    },
  };
</script>
