<template>
  <div>
    <div class="card">
      <div class="card-body">
        <div class="card-title" v-if="tableTitle">{{tableTitle}}</div>
        <div id="people">
          <v-server-table :url="url"
                          :options="options"
                          :columns="columns"
                          ref="table"
                          @loading="log('Loading')"
                          @loaded="log('Loaded')"/>
          <button class="btn btn-primary" @click="swapUrl">Click to change data</button>
          <button class="btn btn-primary" @click.disabled="refreshTable">Click to refresh</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {countriesJsonUrl, productsJsonUrl} from '../dummy/data'
  export default {
    data() {
      return {
        tableTitle: '',
        url: countriesJsonUrl,
        externalTableFilter: false,
        columns: [],
          options: {
            filterable: false,
            perPage: 5,
            perPageValues: [5, 10, 25],
            responseAdapter(responseData) {
              console.log(`ResponseAdapter: url: ${this.url}`)
              console.log(`Response data:`)
              console.log(responseData)
              this.columns = Object.keys(responseData[0]);
              return {
                data: responseData,
                count: responseData.length,
              }
            },
          },
      };
    },
    methods: {
      swapUrl() {
        console.log('Changing URL and refreshing')
        this.url = productsJsonUrl;
        // this.refreshTable();
      },
      refreshTable() {
        this.$refs.table.getData();
        this.$refs.table.refresh();
      },
      log(param) {
        console.log(param)
      }
    },
  };
</script>
