<template>
  <div class="container">
    <app-header/>
    <div class="row">
      <div class="col-md-12">
        <app-table-server></app-table-server>
        <!--<app-table-client></app-table-client>-->
      </div>
    </div>
  </div>
</template>

<script>
  import ClientTableRenderer from './components/ClientTableRenderer.vue'
  import ServerTableRenderer from './components/ServerTableRenderer.vue'
  import Header from './components/Header.vue'
export default {
  components: {
    appTableClient: ClientTableRenderer,
    appTableServer: ServerTableRenderer,
    appHeader: Header,
  },
}
</script>
<style>
  body {
    padding: 30px;
  }
</style>
